<div class="page-sidebar-wrapper">

    <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse" style="height=1000px">

        <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="start ">
                <a href="@Url.Action("Index","Orders")">
                    <i class="icon-home"></i>
                    <span class="title">Quản lý đơn hàng</span>
                </a>
            </li>
            <li class="start ">
                <a href="@Url.Action("Index","Products")">
                    <i class="icon-home"></i>
                    <span class="title">Quản lý sản phẩm</span>
                </a>
            </li>
            <li >
                <a href="@Url.Action("Index","Menus")">
                    <i class="icon-home"></i>
                    <span class="title">Quản lý menu</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Users")">
                    <i class="icon-home"></i>
                    <span class="title">Quản lý tài khoản</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-home"></i>
                    <span class="title">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a href="#">
                     
                </a>
               
            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>
                <a href="#">

                </a>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
</div>
