<div class="container">
    <div class="row">

        <div class="span5">
            <div class="logo">
               
                <h3><a href="@Url.Action("Home")" class="title1">Shop đồng hồ</a></h3>
            </div>
        </div>

        <div class="span5">
            <form>
                <input type="text" placeholder="nhập vào bàn phím">
                <input type="submit" value="">
            </form>
        </div>

        <div class="span2">
            <div class="cart">
                <ul>
                    <li class="first"><a href="#"></a><span></span></li>
                    <li>Giỏ hàng</li>
                </ul>
            </div>
        </div>

    </div>
</div>
