<div class="container">
    <div class="row">

        <div class="span5">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
                <h1><a href="index.html">Ultra Customizable<span> Ecommerce </span>Theme</a></h1>
            </div>
        </div>

        <div class="span5">
            <form>
                <input type="text" placeholder="Type and hit enter">
                <input type="submit" value="">
            </form>
        </div>

        <div class="span2">
            <div class="cart">
                <ul>
                    <li class="first"><a href="#"></a><span></span></li>
                    <li>0 item(s) - $0.00</li>
                </ul>
            </div>
        </div>

    </div>
</div>
