<div class="container">
    <div class="row">
        <div class="pric-icon span2">

        </div>

        <div class="span10 right">
            <div class="social-strip">
                <ul>
                    <li><a href="#" class="account">My Account</a></li>

                </ul>
            </div>


        </div>
    </div>
</div>
