<div class="shipping-wrap">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shipping">
                    <p><span>GIAO HÀNG MIỄN PHÍ </span> Tất cả các đơn hàng có trị giá trên 1 triệu sẽ được miễn phí vận chuyển</p>
                    <a href="#" class="button">Tìm hiểu thêm</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-wrap">
    <div class="container">
        <div class="row">

            <div class="footer clearfix">

                <div class="span3">
                    <div class="widget">
                        <h3>Dịch vụ khách hàng</h3>
                        <ul>
                            <li><a href="#">Hỗ trợ khách hàng</a></li>
                            <li><a href="#">Giỏ hàng của bạn</a></li>
                            <li><a href="#">Tài khoản - Đăng nhập</a></li>
                            <li><a href="#">Đặt hàng - Giao hàng</a></li>

                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <div class="widget">
                        <h3>Thông tin</h3>
                        <ul>
                            <li><a href="#">Thông tin về chúng tôi</a></li>
                            <li><a href="#">Giấy phép - Chứng nhận</a></li>
                            <li><a href="#">Cam kết chất lượng </a></li>
                            <li><a href="#">Điều khoản & Thanh toán</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <div class="widget">
                        <h3>Thông tin tài khoản</h3>
                        <ul>
                            <li><a href="#">Tài khoản của bạn</a></li>
                            <li><a href="#">Lịch sử mua hàng</a></li>
                            <li><a href="#">Danh sách yêu thích</a></li>
                            <li><a href="#">Thông tin phản hồi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <div class="widget">
                        <h3>Liên lạc với chúng tôi</h3>
                        <ul>
                            <li>website:localhost:4404/Home/Index</li>
                            <li>+84 1626 917 418</li>
                            <li>Khu phố 6 - phường Linh Trung quận Thủ Đức</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <footer class="clearfix">
                <div class="span5">
                    <p> Designer by My team</p>
                </div>
                <div class="span2 back-top">
                    <a href="#"> <img src="~/Assert/images/back.png" alt=""></a>
                </div>
                <div class="span5">
                    <div class="social-icon">
                        <a class="rss" href=""></a>
                        <a class="twet" href=""></a>
                        <a class="fb" href=""></a>
                        <a class="google" href=""></a>
                        <a class="pin" href=""> </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
