<div class="bar-wrap">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-bar">
                    <h1>JACKETS</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <div class="sorting-bar clearfix">
                    <div>
                        <label>Sort by</label>
                        <select>
                            <option>Position</option>
                        </select>
                    </div>

                    <div class="show">
                        <label>SHOW</label>
                        <select>
                            <option>5 per page</option>
                        </select>
                    </div>

                    <div class="sorting-btn clearfix">
                        <label>View As</label>
                        <a href="#" class="one"></a>
                        <a href="#" class="two"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BAR -->
