<div id="sidebar">
    <div class="widget">
        <h4>CATEGORIES</h4>

       
            <ul class="list-group">
                <li class="list-group-item"><a href="#" >Kids & Babies </a></li>
                
                <li class="list-group-item"><a href="#">Kids & Babies </a></li>

                <li class="list-group-item"><a href="#">Kids & Babies </a></li>
                <li class="list-group-item"><a href="#">Kids & Babies </a></li>


            </ul>
          
           

          
       

    </div>

  
    <div class="widget">
        <h4>Featured Products</h4>

        <div class="featured">
            <ul>
                <li class="clearfix">
                    <figure>
                        <a href="#"><img src="http://placehold.it/50x50" alt=""></a>
                    </figure>
                    <div>
                        <h5>Brown Wood Chair</h5>
                        <span>$244.00</span>
                    </div>
                </li>

                <li class="clearfix">
                    <figure>
                        <a href="#"><img src="http://placehold.it/50x50" alt=""></a>
                    </figure>
                    <div>
                        <h5>Brown Wood Chair</h5>
                        <span>$244.00</span>
                    </div>
                </li>

                <li class="clearfix last">
                    <figure>
                        <a href="#"><img src="http://placehold.it/50x50" alt=""></a>
                    </figure>
                    <div>
                        <h5>Brown Wood Chair</h5>
                        <span>$244.00</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>


